<div class="container">
  <h1>New task</h1>
  <%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<hr>
<%= link_to '<i class="fas fa-history"></i> - Back to list'.html_safe, tasks_path %>
</div>
